<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Super Upload</title>
</head>
<body>
  <h1>Super Upload</h1>
  <form id="upload">
    <input type="file" name="file" id="file"/>
    <input type="hidden" id="uuid" name="uuid" value="<%= @uuid %>"/>
    <div id="uploadStatus"></div>
    <a id="uploadFile"></a>
    <br>
    
    <textarea name="description" id="description" rows="7" cols="43"></textarea>
    <br>
    <input type="button" id="save" value="Save" disabled="disabled"/>

    <script src="js/namespace.js"></script>
    <script src="js/ajax.js"></script>
    <script src="js/uploader.js"></script>
    <script src="js/save.js"></script>
  </div>
</body>
</html>
